	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
	
	$darkblue: #2A324B;
	$lightblue: #58699D;
	$gray: #E1E5EE;
	$white: #fff;
    
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 0;
	padding-top: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {

	:active {
		background-color: $white;
		color: $darkblue;
	}
}

