

nav{
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0 ;
        margin: 0;
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem 0;
        height: 2rem;
    }

    a{
        background-color: var(--dark); /*SJEKK OPP VARIABLENES SYNTAX I SASS*/
        color: var(--white);
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        width: 300px;
    }

        a:hover{
            background-color: var(--white);
            color: var(--dark);
        }
}
