@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$darkblue: #2A324B;
$lightblue: #58699D;
$lightgrey: #E1E5EE;
$white: #ffffff;

$font: 'Montserrat', sans-serif;
$rootsize: 20px;

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 1rem;
    padding: 0;
    background-color: $lightgrey;
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


nav {
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            color: $white;
            font-family: $font;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            border: none;
            height: 2rem;
            padding: 2rem;
            text-decoration: none;
            
        }

        .active {
            background-color: $white;
            color: $darkblue;
        }
         
    }
}

section {
    background-color: $white;
    height: 450px;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 4rem;
    box-sizing: border-box;

    h2 {
        text-transform: uppercase;
        color: $darkblue;
    }

}

 @media only screen and (min-width: 1000px) {


    nav {
    

        ul{
            flex-direction: row;
            justify-content: space-between;
            max-width: 1000px;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            gap: 1rem;
        
            a {
                flex-direction: row;
                font-size: 0.85rem;
                width: auto;
                margin-bottom: 0;
                width: 230px;
            }
        }
    }

    section {
        max-width: 1000px;
        min-height: 400px;
        padding: 4rem;
        margin-top: 0;
    }   
} 
