@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$dark: #2A324B;
$light: #58699D;
$grey: #E1E5EE;
$white: #fff;
$font: 'Montserrat', sans-serif;

:root {
    --dark: #{$dark};
    --light: #{$light};
    --grey: #{$grey};
    --white: #{$white};
    --font: #{$font};
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 2rem;
    padding: 1;
    background-color: #{$grey};
    font-family: #{$font};
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: #{$grey};
}

.active {
    background-color: #{$white};
    color: #{$dark};
}

main {
    background-color: #{$white};
    height: 550px;
    width: 100%;
    margin-top: .1rem;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        padding: 5rem;
        box-sizing: border-box;
        ul {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 1245px) {
    div.ul {
        flex-direction: row;
        justify-content: space-between;
        li {
            flex-wrap: wrap;
            flex-direction: row;
            a {
                padding: 1.5rem 4.9rem;
                font-size: 1rem;
                width: auto;
            }
        }
    }

    main {
        width: 1245px;
        min-height: 400px;
    }
}
