@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
// Variables for colors, fonts, etc.
$dark: #2A324B;
$light: #58699D;
$grey: #E1E5EE;
$white: #fff;
$font: 'Montserrat', sans-serif;

// General body styling
body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 2rem;
    padding: 1;
    background-color: #{$grey};
    font-family: #{$font};
}

// Styles for the tab container
#nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	background-color: #ffffff // Bakgrunnsfarge for navigasjonsbeholderen
}

nav {
    display: flex; // Endret til flex for å dra nytte av flexbox-egenskaper
    font-weight: 900;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.nav-button {
    background-color: #2A324B;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 1px;
    transition: background-color 0.3s ease;
    color: #ffffff; // Tekstfarge for knappene
    text-decoration: none; // Fjerner understrek fra lenker
    cursor: pointer; // Endrer musepeker til hånd når den svever over knappen
}

.nav-button:hover {
    background-color: #fcfcfc;
    color: #2A324B; // Endrer tekstfargen ved hover for bedre kontrast
}

.nav-button.active {
    background-color: #fefefe;
    color: #2A324B; // Endrer tekstfargen for aktiv knapp for bedre synlighet
}



main {
    background-color: #{$white};
    height: 550px;
    width: 100%;
    margin-top: .1rem;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        padding: 5rem;
        box-sizing: border-box;
        ul {
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 1245px) {
    div.ul {
        flex-direction: row;
        justify-content: space-between;
        li {
            flex-wrap: wrap;
            flex-direction: row;
            a {
                padding: 1.5rem 4.9rem;
                font-size: 1rem;
                width: auto;
            }
        }
    }

    main {
        width: 1245px;
        min-height: 400px;
    }
}
