@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$dark: #2A324B;
$light: #58699D;
$grey: #E1E5EE;
$white: #ffffff;
$font: 'Montserrat', sans-serif;

body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 1rem;
    padding: 0;
    background-color: #E1E5EE;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    margin-top: .3rem;

    ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline;
        margin-right: 10px;
        margin-left: 10px;
        
        button {
        background-color:#2A324B;
        color: #fff;
        border: none;
        padding: 20px 100px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:focus {
            background-color: #ffffff;
            color: #58699D;
        }
        }
    }
    }
}



main{
    background-color: $white;
    height: 570px;
    width: 100%;
    margin-top: .3rem;
}

main article{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 4rem;
    box-sizing: border-box;
    font-family: $font;
}

main article ul{
    margin-top: 3;
}   



@media only screen and (min-width: 1245px) {

}